body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #667eea, #764ba2);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: white;
  padding: 25px;
  border-radius: 15px;
  width: 320px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

h1 {
  margin-bottom: 20px;
}

input {
  padding: 10px;
  width: 65%;
  border: 1px solid #ccc;
  border-radius: 8px;
}

button {
  padding: 10px;
  border: none;
  background: #667eea;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #5a67d8;
}

li {
  background: #f9f9f9;
  margin-top: 10px;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li:hover {
  background: #ececec;
}

.completada {
  text-decoration: line-through;
  color: gray;
}

li button {
  background: red;
  padding: 5px 8px;
  font-size: 12px;
}

li button:hover {
  background: darkred;
}.filtros {
  margin-top: 15px;
}

.filtros button {
  margin: 5px;
  background: #ddd;
  color: black;
}

.filtros button:hover {
  background: #bbb;
}